<!doctype html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">    
    <meta name="author" content="">
    <link rel="icon" href="imagens/logo.ico">

    <title>Selecione o seu perfil de usuário</title>

    <!-- atualizado por João Marcos Lucena -->
     <link href="../biblioteca/css/bootstrap.min.css" rel="stylesheet">
  </head>

  <body>
    <div class="container">
      <div class="jumbotron mt-4">
        <h1>Cadastre-se</h1>
        <br>    
        <p class="lead">Escolha o tipo de cadastramento que você deseja realizar.</p>
        
        <!-- abaixo colocar link do cadastro do paciente  -->
        <a class="btn btn-lg btn-primary" href="paciente/CadastroPaciente.php" role="button">Sou um Paciente &raquo;</a> <br />
        <br />
        <!-- abaixo colocar link do cadastro de clinica  -->
        <a class="btn btn-lg btn-info" href="../../components/navbar/" role="button">Sou uma Clínica &raquo;</a> <br />
        <br />
            <!-- abaixo colocar link do cadastro do medico  -->
        <a class="btn btn-lg btn-danger" href="medico/CadastroMedico.php" role="button">Sou um Médico  &raquo;</a><br />
        
        
      </div>
        <a href="#" class="btn btn-info btn-warning">
          <span class="glyphicon glyphicon-circle-arrow-left"></span> Voltar para Login
        </a>
 
   

      
<nav class="navbar fixed-bottom navbar-expand-sm navbar-dark bg-dark">
      <a class="navbar-brand" href="#">SENAC 2018</a>
      
    </nav>      

      
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../assets/js/vendor/popper.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
  </body>
</html>
